@import url("reset.css");

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff') format('woff'), ;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: Muller;
	background-color: #0A0A09;
	color: #fff;
}

body.lock {
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}



.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 27px;
	padding-bottom: 27px;
	z-index: 4;
	transition: all 0.5s ease 0s;
}

.header.scroll {
	background-color: #000;
}

.header__container {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {}

.header__menu {}

.menu-header {}

.menu-header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	column-gap: 125px;
	row-gap: 20px;
}

.menu-header__item {}

.menu-header__link {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -1px;
	opacity: 0.4;
}

.header__contact {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -1px;
}

.menu__icon {
	display: none;
}

@media (max-width: 992.98px) {
	.menu-header__list {
		flex-direction: column;
	}

	.menu-header {
		position: fixed;
		z-index: 4;
		padding-top: 100px;
		width: 100%;
		height: 100vh;
		top: 0;
		left: -100%;
		transition: all 0.5s ease 0s;
		background-color: rgba(0, 0, 0, 1);
	}

	.menu-header.active {
		left: 0;
	}

	.menu__icon {
		z-index: 555;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #5DBEB4;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.header__contact,
	.menu-header__link {
		opacity: 1;
	}

	.menu__icon.active span {
		transform: scale(0);
	}

	.menu__icon.active::before {
		top: 50%;
		transform: translate(0px, -50%) rotate(-45deg);
	}

	.menu__icon.active::after {
		bottom: 50%;
		transform: translate(0px, 50%) rotate(45deg);
	}
}


.page__main {}

.main {
	padding-bottom: 110px;
}

.main__container {
	padding-top: 154px;
}

@media (min-width:992px) {
	.main__container {
		position: relative;
	}
}

.main__title {
	color: #fff;
	font-size: 70px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -4px;
}

@media (max-width:1199.98px) {
	.main__title {
		text-align: center;
		letter-spacing: -3px;
		font-size: 48px;
	}
}

.main__title span {
	color: #d4cc7b;
}

.main__title:not(:last-child) {
	margin-bottom: 48px;
}

.main__body {}


.body-main {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1199.98px) {
	.body-main {
		flex-direction: column;
		row-gap: 36px;
	}
}

.body-main__content {}

.content-body-main {}

.content-body-main__text {
	margin-bottom: 48px;
}

.content-body-main__text p {
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: -2px;
}

.content-body-main__text p:not(:last-child) {
	margin-bottom: 48px;
}

.content-body-main__button {
	cursor: pointer;
	display: block;
	max-width: 252px;
	text-align: center;
	transform: rotate(-0.11deg);
	box-shadow: 0 0 20px 0#d6a500;
	border-radius: 30px;
	padding: 22px 54px;
	background: linear-gradient(350deg, rgba(255, 255, 255, 1) 0%, rgba(219, 181, 0, 1) 100%);
	opacity: 0.5;
	color: #000;
	font-size: 24px;
	letter-spacing: -2px;
	font-weight: 500;
	transition: all 0.5s ease 0s;
}

.content-body-main__button:hover {
	opacity: 1;
}

.body-main__image {
	position: relative;
	margin-right: -119px;
	z-index: -2;
}

@media (max-width: 1199.98px) {
	.body-main__image {
		margin-right: -250px;
	}
}

@media (max-width:991.98px) {
	.body-main__image {
		margin-right: -87px;
	}
}

.body-main__image::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: blur(200px);
	background: rgb(49, 149, 145);
	background: linear-gradient(350deg, rgba(49, 149, 145, 1) 0%, rgba(93, 190, 180, 1) 100%);
	z-index: -2;
}

.body-main__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

@media (max-width:991.98px) {
	.main__bg {
		display: none;
	}
}

.main__bg img {
	max-width: 100%;
	object-fit: cover;
}

.autopark {
	padding-top: 110px;
	padding-bottom: 110px;
}

.autopark__container {}

.autopark__title {
	text-align: center;
	color: #fff;
	font-size: 48px;
	font-style: italic;
	margin-bottom: 75px;
}

.autopark__title span {
	color: #d4cc7b;
}

.autopark__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 370px));
	justify-content: center;
	gap: 20px;
}

.autopark__item {
	border-radius: 10px;
	box-shadow: 0 4px 10px 0 rgba(124, 124, 124, .2);
	border: 1px solid rgba(126, 126, 126, 0.4);
	padding: 16px 20px;
	text-align: center;
	color: #fff;
}

.item-autopark {}

.item-autopark__title {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -2px;
	margin-bottom: 18px;
}

.item-autopark__image {
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #0c1e33;
	box-shadow: 0 0 10px 0#000;
	margin-bottom: 24px;
}

.item-autopark__image img {
	max-width: 100%;
	object-fit: cover;
}

.item-autopark__parameters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.item-autopark__parameter {}

.parameter-item-autopark {}

.item-autopark__price {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -2px;
	margin-bottom: 24px;
}

.item-autopark__button {
	padding: 23px 51px;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -2px;
	transform: rotate(-0.19deg);
	border: 1px solid #ecd774;
	box-shadow: 0 0 5px 0#d6a500;
	border-radius: 30px;
}



.conditions {
	padding-top: 110px;
	padding-bottom: 110px;
}

.conditions__container {
	text-align: center;
	position: relative;
}

.conditions__container::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: blur(200px);
	background: rgb(93, 189, 179);
	background: linear-gradient(340deg, rgba(93, 189, 179, 1) 0%, rgba(49, 150, 144, 1) 100%);
	z-index: -2;
}

.conditions__title {
	font-size: 48px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -3px;
	margin-bottom: 130px;
}

.conditions__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 170px));
	justify-content: space-between;
	gap: 20px;
}

@media (max-width:767.98px) {
	.conditions__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.conditions__items {
		display: flex;
		flex-direction: column;
		text-align: end;
	}
}

.conditions__item {}

.item-conditions {}

.item-conditions__image {
	margin-bottom: 10px;
	max-width: 100%;
}

.item-conditions__image img {
	max-width: 100%;
	object-fit: cover;
}

.item-conditions__title {
	font-size: 14px;
}

.conditions__button {
	margin-top: 67px;
	padding: 13px 16px;
	border: 1px solid #f8b500;
	box-shadow: 0 0 5px 0#efac00;
	background-color: #ECD774;
	color: #0c0f12;
	border-radius: 10px;
}

.conditions__image {}

.conditions__image img {
	max-width: 100%;
	object-fit: cover;
}

@media (max-width:991.98px) {
	.conditions__image {
		margin-left: -250px;
	}
}

@media (max-width:767.98px) {
	.conditions__image {
		margin-left: -350px;
	}
}

@media (max-width:467.98px) {
	.conditions__image {
		width: 320px;
		margin-left: -70px;
		margin-top: 20px;
	}
}